
*.pyc
.DS_Store
eval/__pycache__/metrics.cpython-311.pyc
utils/__pycache__/data_geometry.cpython-311.pyc
eval/__pycache__/metrics.cpython-311.pyc
utils/__pycache__/data_geometry.cpython-311.pyc
utils/__pycache__/data_processing.cpython-311.pyc
utils/__pycache__/data_viz.cpython-311.pyc
/input/Data
